Numbers, arithmetic operations and varaible assignments

In [206]:
3+100

103

In [207]:
100-500

-400

In [208]:
3*6

18

In [209]:
3**6

729

In [210]:
4**0.5

2.0

In [211]:
6/5

1.2

In [212]:
6.0/5

1.2

In [213]:
float(6)/5

1.2

In [214]:
6/5.0

1.2

In [215]:
from __future__ import division

In [216]:
3/2

1.5

In [217]:
a=100
a+a*2

300

In [218]:
a=a*a

In [219]:
a

10000

In [220]:
0.1+0.2-0.3

5.551115123125783e-17

In [221]:
6+6+6+6+6

30

In [222]:
6*6
6**6

46656

In [223]:
6*6

36

In [224]:
6^6

0

In [225]:
1/2

0.5

In [226]:
#string 
s='hello string'

In [227]:
print s

SyntaxError: invalid syntax (<ipython-input-227-ff1a9e6c21c5>, line 1)

In [228]:
s=s +'concatenate string'

In [229]:
print s

SyntaxError: invalid syntax (<ipython-input-229-ff1a9e6c21c5>, line 1)

In [230]:
s=s + 'concatenate agian'
print s

SyntaxError: invalid syntax (<ipython-input-230-a2b645a8c00e>, line 2)

In [231]:
s

'hello stringconcatenate string'

In [232]:
print (' hellow world to string')
print ('\n')
print ('using new line command to beak the line ')

 hellow world to string


using new line command to beak the line

In [233]:
#Importing of the string characteristics in python 2: ( which are the same as in python3) print as function 
from __future__ import print_function 
print ('This is printing using print function not as statements ')

This is printing using print function not as statements

In [234]:
#measure the lenght of a string 
len(s)

30

In [235]:
#string indexing 
print(s[0]) # first element  
print (s[:]) # All elements the same as s 
print (s[::1]) # All elements because step size is 1
print (s[::2]) # print with 2 step size 
print (s[:-1]) # all except the last letter 
print (s[-3]) # the second last letter 
print (s[::-1]) # All but in revers order 
# exception: we can not replace the existign character in s 
# s[0] =r will generate error immunitability 
# built-in string methods
s.upper()
s.lower()

h
hello stringconcatenate string
hello stringconcatenate string
hlosrncnaeaesrn
hello stringconcatenate strin
i
gnirts etanetacnocgnirts olleh

'hello stringconcatenate string'

In [236]:
# This is to print either the double quote or single quote together 
"'this is single quote printing string tes '"
' " this is double quote printing string tes "'

' " this is double quote printing string tes "'

In [237]:
kb='hello world'

In [238]:
kb[::1]

'hello world'

In [239]:
# split method , but the letter to split are removed 
kb.split('l')

['he', '', 'o wor', 'd']

In [240]:
# Print formatting 
s='string'
print (' Place another string with a mod and s : %s' %(s))
print ('first: %s, second %1.2f, Third: %r' %('hi', 3.14, 22))
#using format()
print ( 'Object 1: {a}, Object 2: {b}, Object 3: {c}'.format(a=1, b='two', c=12.33))

 Place another string with a mod and s : string
first: hi, second 3.14, Third: 22
Object 1: 1, Object 2: two, Object 3: 12.33

In [251]:
#Lists 
My_list =['string', 4,5.0, 6.989]
My_list=My_list + ['new item']
list_one=[2 , 4 ,5]
list_two =[67, 78]
list_three =['this', 'is', 'string']
my_nested_list =[list_one, list_two, list_three]
my_nested_list[2][1]

'is'

In [ ]:
my_nested_list
My_list

In [250]:
#methos for lists 
My_list.pop(1)
My_list.append('string')
len(My_list) # lenght of the lists like the lenght of strings used

4

In [253]:
my_for_sort_revers=[3, 4, 7 , 8,90, 0]

In [254]:
my_for_sort_revers.reverse()
my_for_sort_revers.sort()

In [260]:
l_1=[1, 2,3]
l_2 =[4,5,6]
l_3 =[7, 8, 9]
matrix =[l_1, l_2, l_3]
first_columne =[row[0] for row in matrix] # List comprehensions

In [265]:
lst=['a', 'b', 'c']

In [266]:
lst[1:]

['b', 'c']